!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    .Sidebar
      .SidebarMenu
        .SidebarMenu__user-name
          = current_user.name
        .SidebarMenu__icons
          = link_to fa_icon("edit"), new_group_path
          = link_to fa_icon("cog"), edit_user_path(current_user.id)
      - @join_groups.each do |join_group|
        = link_to group_messages_path(join_group.group.id) do
          .SidebarGroup
            .SidebarGroup__group-name
              = join_group.group.name
            .SidebarGroup__group-content
              not implemented



